<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" href="index">Mongo Scraper</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li id="homeNav" class="nav-item">
        <a class="nav-link" href="index">Home
        </a>
      </li>
      <li id="saveNav" class="nav-item">
        <a class="nav-link active" href="saved">Saved Articles</a>
      </li>
      <button class="btn btn-success my-2 my-sm-0 float-right" data-toggle="modal" data-target="#scrapeModal" id="scrape" type="submit">Scrape New Articles</button>
    </ul>

  </div>
</nav>

<div class="modal" id="scrapeModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">HuffPost</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Articles scraped.
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" id="modalClose">Close</button>
      </div>

    </div>
  </div>
</div>

<div class="jumbotron jumbotron-fluid text-center">
  <h1>Mongo Scraper</h1>
  <h3>Saved Articles</h3>
</div>

<div class="container-fluid">
  <div id="articles">

    {{#each articles}} {{#if this.saved}}
    <div class="row savedArticles rounded">
      <div class="col-sm-3">
        <img class="card-img-top" src="{{this.image}}" alt="Card image" width="240" height="116" />
      </div>
      <div class="col-sm-5">
        <a href="https://www.huffingtonpost.com/{{this.link}}" target="_blank" class="card-link">
          <h4 class="card-title">{{this.title}}</h4>
        </a>
      </div>
      <div class="col-sm-2">
        <button class="btn btn-block btn-danger my-2 my-sm-0 remove" id={{this._id}} type="submit">Remove</button>
      </div>
      <div class="col-sm-2">
        <button class="btn btn-block btn-warning my-2 my-sm-0 addNote" add-id={{this._id}} type="submit" data-toggle="modal" data-target="#noteModal">View Notes</button>
      </div>

      <div class="modal" id="noteModal">
        <div class="modal-dialog">
          <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Article Notes</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
              <div class="container-fluid" id="noteContainer"></div>
              
              <textarea placeholder="New Note" rows="4" cols="60" id="newNote"></textarea>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-success saveNote" data-dismiss="modal">Save</button>
            </div>

          </div>
        </div>
      </div>


    </div>
    {{/if}} {{/each}}
  </div>
</div>